<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Inicio</title>
</head>

<body class="principal">

    <%- include('partials/Navbar')%>
        <div class="container_centro" id="lista">

            <br><br>

        </div>


        </div>
</body>
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script>
    axios.get("http://localhost:8080/index").then(response => {
        let documentos = response.data;
        let list = document.getElementById("lista")

        function deleteDoc(listDoc) {
            let id = listDoc.getAttribute("data-id");
            axios.delete("http://localhost:8080/documento/" + id).then(response => {
                alert("Documento deletado!")
            }).catch(err => {
                console.log(err)
            })
        }

        function loadDoc (listDoc){
            let id = listDoc.getAttribute("data-id");
            let titulo = listDoc.getAttribute("data-title");
            let email = listDoc.getAttribute("data-desti");
            let conteudo = listDoc.getAttribute("data-conteudo");

            const dataToSend = { ID: id, title: titulo, dest: email, doc: conteudo};
            localStorage.setItem('userInfo', JSON.stringify(dataToSend));

            sessionStorage.setItem('userInfo', JSON.stringify(dataToSend));

            window.location.href = '/Documento';
        }

        documentos.forEach(doc => {
            let Item = document.createElement('div');
            Item.classList.add('item');

            Item.setAttribute("data-id", doc.ID);
            Item.setAttribute("data-title", doc.Titulo);
            Item.setAttribute("data-desti", doc.Email_dest);
            Item.setAttribute("data-conteudo", doc.Conteudo)


            let h2Title = document.createElement('h2');
            h2Title.classList.add('title');
            h2Title.innerHTML = doc.Titulo;
            list.appendChild(h2Title);
            Item.appendChild(h2Title);


            let h3Element = document.createElement('h3');
            h3Element.innerHTML = doc.Email_dest;
            list.appendChild(h3Element);
            Item.appendChild(h3Element);


            let pElement = document.createElement('p');
            pElement.innerHTML = doc.Conteudo;
            Item.appendChild(pElement);


            const ContainerBtn = document.createElement('div');
            ContainerBtn.classList.add('container_botao');


            let btnExcluir = document.createElement('button');
            btnExcluir.textContent = '🗑';
            btnExcluir.setAttribute("id", "botao");
            btnExcluir.classList.add('botao_excluir'); // Adiciona uma classe para estilização, se necessário
            btnExcluir.onclick = () => {
                deleteDoc(Item)
            };
            ContainerBtn.appendChild(btnExcluir);

            let btnEditar = document.createElement('button');
            btnEditar.textContent = '✎';
            btnEditar.setAttribute("id", "botao");
            btnEditar.classList.add('botao_editar'); // Adiciona uma classe para estilização, se necessário
            btnEditar.onclick = () => {
                loadDoc(Item);
            };
            ContainerBtn.appendChild(btnEditar);

            let btnEnviar = document.createElement('button');
            btnEnviar.textContent = '⎘';
            btnEnviar.setAttribute("id", "botao");
            btnEnviar.classList.add('botao_enviar'); // Adiciona uma classe para estilização, se necessário
            ContainerBtn.appendChild(btnEnviar);

            Item.appendChild(ContainerBtn);

            list.appendChild(Item);
        });
    }).catch(error => {
        console.log(error)
    })

</script>
<script type="text/javascript" src="../js/main.js"></script>

</html>