<%- include('partials/header')%>

<body>

    <%- include('partials/Navbar')%>
    <div class="container_centro" id="container_recibo">
        <h1 class="titulodocum" id="titulogeral">Documento</h1>
        <form method="POST" action="/salvaDoc">
           <div>
            <h5 class="titulodocum">Informe o destinatário:</h5>
            <input id="destinatario" type="email" name="destinatario">
            </div>
            <div>
            <h5 class="titulodocum">Título do documento:</h5>
            <input type="text" name="testa" id="titulodoc">
            </div>
            <br><br>
            <textarea name="Documento" maxlength="240" cols="100" rows="25" id="Doc"></textarea>
            <button class="imprimir" id="salvardocumento">Salvar Documento</button>
            <button id="limpardocumento" class="imprimir">Limpar documento</button>
        </form>
    </div>

    <br>

</body>

<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script>

    const dataReceived = JSON.parse(localStorage.getItem('userInfo'));

    id = dataReceived.ID;

    document.getElementById("titulodoc").value = dataReceived.title;
    document.getElementById("destinatario").value = dataReceived.dest;
    document.getElementById("Doc").value = dataReceived.doc;


    function updateCreatDoc() {
        let inputTitle = document.getElementById("titulodoc");
        let inputDest = document.getElementById("destinatario");
        let inputDoc = document.getElementById("Doc");

        let Documento = {
            titulo: inputTitle.value,
            doc: inputDoc.value,
            destinatario: inputDest.value
        }

        if (dataReceived) {
            axios.put("http://localhost:8080/documento/" + id, Documento).then(response => {
                if (response.status === 200) {
                    alert("Docuemtno atualizado")
                }
            }).catch(err => {
                console.log(err);
            })
            localStorage.clear();
        }
        else {
            axios.post("http://localhost:8080/documento", Documento).then(response => {
                if (response.status === 200) {
                    alert("Docuemtno cadastrado")
                }
            }).catch(err => {
                console.log(err);
            })
        }
    }
</script>
<script type="text/javascript" src="../js/main.js"></script>

</html>