<%- include('partials/header')%>

<body>
	<img class="wave" src="../img/wave.png">
	<div class="container">
		<div class="img">
			<img src="../img/cadastro.svg">
		</div>
		<div class="login-content" id="cadastroempresa">
			<form action="index">
				<img src="../img/avatar.svg">
				<h2 class="title">Olá, vamos cadastrar sua empresa?</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Razão social</h5>
						<input type="text" class="input" required>
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>CNPJ</h5>
						<input type="number" class="input" required>
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Nome fantasia</h5>
						<input type="text" class="input" required>
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Endereço</h5>
						<input type="text" class="input" required>
					</div>
				</div>

                <div class="input-div pass">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Numero</h5>
						<input type="number" class="input" required>
					</div>
				</div>

                <div class="input-div pass">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Bairro</h5>
						<input type="text" class="input" required>
					</div>
				</div>

                <div class="input-div pass">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Estado</h5>
						<input type="" class="input" required>
					</div>
				</div>
				<input type="submit" class="btn" value="Cadastrar">
				<a href="login" id="cadastro-login">Fazer login com conta já existente</a>
			</form>
		</div>
	</div>
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>


</body>

<%- include('partials/footer')%>