<%- include('partials/header')%>

<body>

    <%- include('partials/Navbar')%>
    <div id="recibo">
        <form method="POST" action="/salvaDoc">
            <h2>Documento</h2>
            <h5>Informe o destinatário:</h5>
            <input type="email" name="destinatario">
            <br><br><br>

            <h5>Título do documento:</h5>
            <input type="text" name="testa" id="">
            <br><br>
            <textarea name="Documento" maxlength="240" cols="100" rows="25" id="Doc"></textarea>

            <button class="imprimir" id="salvardocumento">Salvar Document</button>
        </form>
        <button id="limpardocumento" class="imprimir">Limpar documento</button>

    </div>

    <br>

</body>

<%- include('partials/footer')%>