<nav>
    <ul>
        <li><a href="#home">Todos</a></li>
        <li><a href="#news">Documentos assinados</a></li>
        <li><a href="#contact">Pendentes</a></li>
        <li><a href="#contact">Enviados</a></li>
        <li style="float:right"><a class="active" href="Documento">Criar novo documento</a></li>
        <li style="float:right"><a class="active" href="/">Sair</a></li>
    </ul>
</nav>